@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

* {
    margin: 0;
}

body {
    color: #fff;
    background-color: black;
    font-family: 'Sofia Sans', sans-serif;
    letter-spacing: 1.5px;
}

.cronomiter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
}

.cronomiter-title {
    font-size: 3em;
    letter-spacing: 3px;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 12em;
}

.milisecond {
    position: absolute;
    font-size: 4rem;
    color: #333;
    top: 50%;
    right: -135px;
    transform: translate(-50%, -50%)
}

.w-250 {
    width: 250px;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 20px 60px;
    font-size: 1.2rem;
    background-color: #F24134;
    color: #fff;
    border-radius: 30px;
    border: 2px solid transparent;
    margin: 0 .2em;
    font-weight: 600;
    letter-spacing: 1.3px;
    cursor: pointer;
    animation: btn 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-reset {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.btn-reset img {
    width: 50px;
    height: 50px;
}

.btn-stop {
    background-color: transparent;
    border: 2px solid #F24134;
    color: #fff;
    animation: btn-stop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes btn {
    0% {
        background-color: #000;
        border: 2px solid #F24134;
        color: #fff;
    }
    100% {
        background-color: #F24134;
        border: 2px solid #F24134;
        color: #fff;
    }
}

@keyframes btn-stop {
    0% {
        background-color: #F24134;
        border: 2px solid #F24134;
        color: #fff;
    }
    100% {
        background-color: #000;
        border: 2px solid #F24134;
        color: #fff;
    }
}
